*{
    margin:0px;
    padding: 0px;
   text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
    }
    
    .bienvenida{
        font-size: 50px;
        color: rgb(224, 37, 24);
        background-color: rgb(214, 159, 19);
        float: top;
        opacity: 50%;
        font-family: 'Yellowtail', cursive;

      

    }

    .bienvenida:hover{
        background: url('imagenes/tulipan.jpg');
        width: 100%;
        color: rgb(21, 24, 211);
        background-color: darkslateblue;
        
     

    }

     .container{
        background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        position: static;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100px;       
     }

     .menu{
        line-height: 80px;
        display: inline-block;
        text-align: center;
        
     }

     nav ul li a{
        display: inline-block;
        color: rgb(223, 218, 230);
        font-family: 'Bebas Neue', cursive;
        font-size: 40px;
        


       

     }

     nav ul li a:hover{
        color: rgb(1, 4, 12);
        font-size: 50px;
        transition: 1s;
         background: url("imagenes/rapunzel.jpg");
         opacity: 40%;
          text-shadow: 10px 15px 5px rgb(228, 56, 142);
          font-family: 'Passion One', cursive;



     }
    section{
        background: url('imagenes/art\ bo.jpg');
        background-repeat: no-repeat;
       background-position: top;
       background-size:cover;
     }
     
.uno{
    width: 100%;
    position: absolute;
    bottom: 10px;

}
li{
    text-align: center;
}
h1{
    font-size: 50px;
    text-decoration: underline;
    text-shadow: 3px 3px 5px rgb(224, 218, 218);
    text-decoration: underline 3px ;
}
h1:hover{
    text-shadow: 3px 3px 5px rgb(230, 19, 19);

}
.c1{

    width: 300px;
    height: 200px;
    display: inline-block;
    border: 10px double;
    border-color: rgb(106, 185, 106);
    margin-bottom: 70px;
    margin-top: 40px;
    
    
}
.p1{
    text-align: left;
    font-size: 50px;
    color: crimson;
    text-decoration:underline ;
}
.r1{
    text-align: left;
    font-size: 30px;
    font-family: 'Fragment Mono', monospace;
    
    line-height: 50px;

}
.c2{
background-color: rgb(236, 25, 155);
border-radius: 90px;
padding: 30px;
box-shadow: 20px -30px 15px #20f7c8;
}
.c2:hover{
    background: #E8CBC0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: cornsilk;
box-shadow: 20px -30px 15px #7b7de9;
font-family: 'Alfa Slab One', cursive;
}
p1 :hover{
    color: darkseagreen;
}
.pincel1{
    width: 400px;
    height: 400px;
    margin-top:50px ;
    display: auto; 
    position: relative;
    bottom: 60px;
    right:380pt;
    
    border-radius: 50%;
}
#pincel1{
    margin-top: 40px;
    
    animation-name: pincel1;
    animation-duration: 4s;
    animation-direction: normal;
    animation-iteration-count: infinite;
   
}
#pincel1:hover{
    animation-play-state: paused;

}
@keyframes pincel1{
    1%{

        transform: translateX(100px);
    
    }
    10%{

        transform: translateX(200px);
    }

    20%{

        transform: translateX(300px);
    }
    50%{

        transform: translateX(400px);
    }
    70%{

        transform: translateX(500px);
    }
    85%{

        transform: translateX(600px);
    }
    90%{

        transform: translateX(700px);
    }
    100%{

        transform: translateX(800px);
    }
}

     .boted{
        width: 400px;
    height: 400px;
    margin-top:50px ;
    display: auto; 
    position: relative;
    bottom: 60px;
    left:380pt;
    border-radius: 50%;
}

#boted{
    margin-top: 10px;
    
    animation-name: boted;
    animation-duration: 4s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
#boted:hover{
    animation-play-state: paused;}
@keyframes boted{
    1%{

        transform: translateX(-100px);
    
    }
    10%{

        transform: translateX(-200px);
    }

    20%{

        transform: translateX(-300px);
    }
    50%{

        transform: translateX(-400px);
    }
    70%{

        transform: translateX(-500px);
    }
    85%{

        transform: translateX(-600px);
    }
    90%{

        transform: translateX(-700px);
    }
    100%{

        transform: translateX(-800px);
    }
}
     .c3{
        background-color: rgb(90, 221, 85);
        border-radius: 90px;
        padding: 30px;
        box-shadow: 20px -30px 15px #20f7c8;
        font-size: 40px;
        }
        .c3:hover{
            background: #f4c4f3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: cornsilk;
box-shadow: 20px -30px 15px #7b7de9;
font-family: 'Alfa Slab One', cursive;
}
        
     h2{
        font-size: 50px;
        text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px 5px white;
        width: 300px;
        height: 100px;
        display: inline-block;
        border: 10px double;
        border-color: rgb(106, 185, 106);
        margin-bottom: 70px;
        margin-top: 40px;
     } 
     h2:hover{
        text-shadow: 3px 3px 5px rgb(218, 13, 13);

     }

     #paris{
        display: inline-block;
        border: solid 5px black;
        margin-top: 30px;
        padding-right: 20px;
       
     }
     #puente{
        display: inline-block;
        border: solid 5px black;
        margin-top: 30px;
        padding-right: 20px;
     }
     #pintura{
       display: inline-block;
       border: solid 5px black;
       margin-top: 30px;
       padding-right: 20px;
     }
     .paris{
        width: 300px;
       height: 300px;
       margin-top: 30px;
       margin-left: 30px;
       
     }
     .puente{
        width: 300px;
        height: 300px;  
        margin-top: 30px;
        margin-left: 30px;   }
     .pintura{
        width: 300px;
        height: 300px; 
        margin-top: 30px;
        margin-left: 30px;    }

        .r2{
            line-height: 50px;
            text-align: left;
    font-size: 30px;
    font-family: 'Fragment Mono', monospace;
        }