body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #cea624;
    color: white;
    padding: 1.5em 0;
    text-align: center;
}
a:visited{
    color: rgb(255, 0, 0);
}
a:link{
    color: rgb(255, 0, 0);
    text-decoration-line: none;
}

.contenedor {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    margin-bottom: 0.5em;
}

h2 {
    border-bottom: 2px solid #660303;
    padding-bottom: 0.3em;
}

p {
    margin-bottom: 1em;
}

img.responsive, video.responsive {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.pato .stop {
    background: #fff;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background: #660303;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}
