body{
    background-image: url(imagenes/galaxia\ simple\ color\ rojo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  
}
.dos{
    height: 200px;
    width: 200px;
    text-align: center;
}