*{
    margin: 0px;
    padding: 0px;
    text-decoration: none; 
    list-style: none;
    box-sizing: border-box;
   
}
.titulo{
    width: 100%;
    font-size: 100px;
    font-family: 'Lobster', cursive;
    text-align: center;
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: 3px 3px 6px rgb(218, 173, 90), -3px -3px 6px rgb(233, 233, 99);
    letter-spacing: 10px;
}

.pie{
    width: 100%;
    font-size: 100px;
    font-family: 'Lobster', cursive;
    text-align: center;
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: 3px 3px 6px rgb(218, 173, 90), -3px -3px 6px rgb(233, 233, 99);
    letter-spacing: 10px;
}
h2{
    font-family: 'Rubik Bubbles', cursive;
    font-size: 40px;
    text-decoration: underline;
    color:green;
    text-align: justify;
    text-shadow: 5px 5px 5px darkgreen;
    animation: primera 3s infinite;
    padding-left: 20px;
}

h2::first-letter{
    font-size: 50px;
    color: rgb(60, 100, 0);
    text-shadow: 6px 6px 6px darkgreen;
    
}

@keyframes primera {
    0%{
        transform: translateX(50px);
    }

    50%{
        transform: translateX(0px);
    }

    100%{
        transform:translateX(50px) ;
    }
    
}

h1{
    font-size: 35px;
    font-family: 'Rubik Bubbles', cursive;
    text-decoration: underline;
    padding-left: 20px;
    animation: seg 2s infinite;
}


p{
    width: 50%;
    font-size: 15px;
    font-family: 'Poor Story', cursive;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    border: 5px double darkblue;
    padding-left: 20px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: whitesmoke;

}   

@keyframes seg{
    
    0%{
        color: darkgreen;
    }
    25%{
        color: green;
        transition: 2s;
    }
    50%{
        color: rgb(0, 0, 112);
        transition: 2s;
    }
    75%{
        color: darkcyan;
        transition: 2s;
    }
    100%{
        color: darkgreen;
    }
}
div{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: solid 7px darkgreen;
    padding-left: 20px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#img{ 
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0%;
    top: 15.5%;
    border: double 7px black;
}

#img1{ 
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0px;
    top: 73%;
    border: double 7px black;
}

#img2{ 
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0px;
    top: 127.5%;
    border: double 7px black;
}

#img:hover{
    background-color: lightgreen;
    border-radius: 25px;
    transition: 1.5s;
}

#img2:hover{
    background-color: lightgreen;
    border-radius: 25px;
    transition: 1.5s;
}

#img1:hover{
    background-color: lightgreen;
    border-radius: 25px;
    transition: 1.5s;
}
section{
    background: url('../imagenes/fondoedu.webp');
}

@media(max-width:600px){
    #img{
        position: absolute;
        top: 25%;
    }

    #img1{
        position: absolute;
        top: 80%;
    }

    #img2{
        position: absolute;
        top: 138%;
    }

    h2{
        font-size: 30px;
        padding-left: 10px;
        animation: primera 2s infinite;
        text-align: left;
    }

    @keyframes primera {
        0%{
            transform: translateX(15px);
        }
    
        50%{
            transform: translateX(0px);
        }
    
        100%{
            transform:translateX(15px) ;
        }
        
    }

    .cel, .tit{
        width: 100%;
    }

    .titulo, .pie{
        font-size: 60px;
    }
}


