*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imagenes/fondo\ khate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 100px;
    font-family: 'Sigmar One', cursive;
    color: red;
    position: absolute;
    top: 5%;
    right: 13%;
    animation: pan 4s infinite alternate-reverse;
}

.animu{
    width: 32%;
    height: 550px;
    border-radius: 4%;
    margin-left: 10%;
    margin-top: 5%;
    border: 5px solid yellow;
}

div{
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    color: purple;
    font-family: 'Syne Mono', monospace;
    font-size: 17px;
    height: 400px;
    width: 400px;
    border: 6px double yellow ;
    position: absolute;
    top: 30%;
    right: 10%;
    line-height: 37px;
    padding: 5px;
}

@keyframes pan{
    0%{
        color: yellow;
     }
     25%{
        color: blue;
     }
     50%{
        color: palevioletred;
     }
     75%{
        color: blue;
     }
     100%{
        color: green;
     }
}
.prin1 a{
    color: rgb(235, 58, 14);
    display: block;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    display: block;
    position: absolute;
    bottom: 8px;
    right: 300px;
}
.prin1 a:hover{
    text-decoration: underline;
    color: rgb(0, 255, 115);
    font-size: 65px;
    transition: 3s;
}
.prin1 a:active{
    color: darkslategrey;
}